<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualizaciones</title>

    <!-- <script src="/jsPDF-1.3.2/jspdf.js"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <!-- <script src="/iframe2image.withdomvas.min.js"></script> -->

    <script src="/d3.min.js"></script>
    <script src="/visualization.js"></script>

    <script type="text/javascript">
    var container = d3.select('#main_container');

    // var bounding_rect = $('body')[0].getBoundingClientRect();

    // gets the width/height of the container in order to plot the points
    // var width = bounding_rect.width;
    // var height = bounding_rect.height;
    var width = parseInt(container.style('width').slice(0, -2));
    var height = parseInt(container.style('height').slice(0, -2));

    // gets the data from the view, and transform the [0,1]-valued width/height, into a plottable number
    var vertexes_raw = {{ vertexes|safe }};
    var importantes_raw = {{ importantes|safe }}
    // scale_coordinates(vertexes_raw, width, height);  // this function scales coordinates to desired range
    var prop_const = 0.04 * width;
    var displacement_x = prop_const - ((2000 - width) % prop_const);
    var displacement_y = prop_const - ((2000 - height) % prop_const);
    console.log(displacement_x, displacement_y);
    scale_integer_coordinates(vertexes_raw, prop_const, displacement_x, displacement_y);
    var vertexes = element_objectizer(vertexes_raw);
    var importantes = element_objectizer(importantes_raw);
    var edges_raw = {{ edges|safe }};
    var edges = element_objectizer_d(edges_raw);

    var latex = `{{ latex|safe }}`;


    // END OF DATA LOADING

    var svg = container
      .append("svg")
      .attr("id", "main_svg")
      .attr("width", "100%")
      .attr("height", "100%")
      .call(zoom_element);

    var background = svg
      .append('rect')
      .attr('width', width)
      .attr('height', height)
      .attr('fill', '#fff');


    var x_axis = svg.append("g")
        .attr("class", "x axis")
      .selectAll("line")
        //.data(d3.range(-width * 2, width * 2, 50))
        .data(d3.range(-2000, 2000, prop_const))
        //.data(d3.range(-width * 2, 2000, prop_const))
      .enter().append("line")
        .attr("x1", function(d) { return d; })
        // .attr("y1", -height * 2)
        .attr("y1", -2000)
        .attr("x2", function(d) { return d; })
        // .attr("y2", height * 2)
        .attr("y2", 2000)
        .attr("stroke-width", "1px")
        .attr("stroke", "lightgrey")
        .attr("stroke-opacity", "0.7")
        .attr("shape-rendering", "crispEdges");
        // .call(xAxis);

    var y_axis = svg.append("g")
        .attr("class", "y axis")
      .selectAll("line")
        //.data(d3.range(-height * 2, height * 2, 50))
        .data(d3.range(-2000, 2000, prop_const))
        //.data(d3.range(-height * 2, 2000, prop_const))
      .enter().append("line")
        // .attr("x1", -width * 2)
        .attr("x1", -2000)
        .attr("y1", function(d) { return d; })
        // .attr("x2", width * 2)
        .attr("x2", 2000)
        .attr("y2", function(d) { return d; })
        .attr("stroke-width", "1px")
        .attr("stroke", "lightgrey")
        .attr("stroke-opacity", "0.7")
        .attr("shape-rendering", "crispEdges");
        // .call(yAxis);



    var visualization_svg = svg
      .append('svg')
      .attr('id', 'visualization_svg')
      .attr("width", width)
      .attr("height", height);


  </script>

    <script type="text/javascript">
      function Download() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        var specialElementHandlers = {
            '#editor': function(element, renderer){
            return true;
            }
        };
        console.log($('#iframe')[0]);
        pdf.fromHTML($('#iframe')[0], 15, 15, {
            'width': 170, 
            'elementHandlers': specialElementHandlers
        });
        pdf.save("descarga.pdf")
      }
    </script>

    <!-- <script>
      // Set up the canvas dimensions
      function Download() {
        var canvas = document.getElementById('frame'),
          context = canvas.getContext('2d');
        canvas.width = 500;
        canvas.height = 600;

        // Grab the iframe
        var inner = document.getElementById('inner');

        // Get the image
        iframe2image(inner, function (err, img) {
          // If there is an error, log it
          if (err) { return console.error(err); }

          // Otherwise, add the image to the canvas
          context.drawImage(img, 0, 0);
        });
      }
    </script> -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bulma/bulma.css">
  </head>
  <body>
    {% include header.html %}
    <section class="section" style="box-shadow: 0 0.2em 0.3em rgba(0,0,0,0.1);position: fixed;left: 0;width: 25%;z-index: 1000;height:100%">
      {% include sidebar.html %}
    </section>
      
    <section class="section" style="width: 75%; margin-left: 25%;">
      {{ content }}
      <!-- <form action="javascript:Download()" name="form">
        <input type="submit" name="download" value="Descargar"> <br>
      </form> -->
    </section>

  </body>
</html>